<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<div class="main-content">
    <div class="container mt-7">
        <!-- Table -->
        <div class="row">
            <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <img class="img-profile rounded-circle"
                                    src="https://source.unsplash.com/random/800x800">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    <div style="margin: auto;">
                                        <span class="heading servicesNumber">1</span>
                                        <span class="description">Services</span>
                                    </div>
                                    <div style="margin: auto;">
                                        <span class="heading actionsNumber">4</span>
                                        <span class="description">Actions Reactions</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3 class="nameUser" style="font-size: 50px;"></h3>
                            <span class="font-weight-light emailUser"></span>
                            <hr class="my-4">
                            <a href="/area">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>